<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head> <title>Reset Password</title> </head>
<body>
<center>
    <h2>Enter new password:</h2>
    <form action="#" th:action="@{/reset}" th:object="${user}" method="post">
        <table>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input th:field="*{email}" id="email" type="text" name="emailId" readonly></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input th:field="*{password}" id="password" type="password" name="password"></td>
            </tr>
            <tr>
                <td><input type="reset" value="Clear"/></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>