<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head> <title>Reset Password</title> </head>
<body>
    <h2>Enter new password:</h2>
    <form method="post">
        <table align="center">
            <td>Email</td>
            <td><input type="text" name="email" /></td>
            </tr>

            <tr>
                <td>New Password</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="conpassword" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Change password"/><input
                        type="reset" value="Reset"/></td>
            </tr>
        </table>
    </form>
        </table>
    </form>
</body>
</html>