<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        #successMessage{
            font-size: 32px;
            color: lawngreen;
        }
    </style>
</head>

<body style="background-color:#ededed;">
<div style="background-color:#337ab7;height:50px;"></div>
<div class="container-fluid">
        <span id="successMessage">Request to reset password received. Check your inbox for the reset link.</span>
</div>
</body>
</html>